*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--cell-size: 100px;
	--item-size: calc(var(--cell-size) * .9);
}

body {
	margin: 0em;
}

.board {
	width: 100ew;
	height: 100eh;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, auto);

}

.cell {
	height: var(--cell-size);
	width:  var(--cell-size);
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n+1) {
	border-left: none;
}

.cell:nth-child(3n) {
	border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
	border-bottom: none;
}



.cell.x,
.cell.circle {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
	background-color: yellow;
}

.cell.circle::before,
.cell.circle::after {
	background-color: red;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
	background-color: rgb(248, 248, 145);
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
	background-color: lightcoral;

}

.cell.x::before,
.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
	content: '';
	
	height: var(--item-size);
	width: calc(var(--item-size) * .1);
	position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
	transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
	content: '';
	border-radius: 50%;
	position: absolute;
}	

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
	height: var(--item-size);
	width: var(--item-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
	height: calc(var(--item-size) * .8);
	width: calc(var(--item-size) * .8);
	background-color: white;
}

.winningMessege {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .8);
	
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
}

.winningMessege button {
	font-size: 3rem;
	background-color: yellow;
	border: 2px green;
	cursor: pointer;
}

.winningMessege button:hover {
	background-color: black;
	color: yellow;

}

.winningMessege.show{
	display: flex;
}


